body{
  margin: 0;
   overflow: hidden;
}

header{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;

  position: fixed;
  top: 0px;
}

header h1{
  float: left;
}

header h1, header h2{
  padding: 20px;
}

header h2{
  float: right;
  padding-top: 30px;
}

canvas{
  border: 1px solid black;

  /* gets rid of small default margin given to inline elements */
  display: block;
}


.penDiv {
  position: fixed;
  left: 150px;
  top: 65px;
}

#pen{
  position: absolute;
  left: 20px;
  top: 20px;
}

#pen_body{
  position:absolute;
  left: 42px;
  top: 20px;
}

#drawing_board{
  position: fixed;
  left: 500px;
  top: 200px;

  border: 10px solid black;  /* #FCFC6A - yellow */
  border-radius: 10px;
  background-color: white;

}

#btn {
  position: fixed;
  bottom: 70px;
  right: 220px;

 /* credited to this article https://css-tricks.com/overriding-default-button-styles/ */

   border: none;
   padding: 1rem 2rem;
   margin: 0;
   text-decoration: none;
   background: #0069ed;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 1rem;
   line-height: 1;
   cursor: pointer;
   text-align: center;
}

.color{
  float: left;
  width: 50px;
  height: 50px;
  border: 8px solid white;
  border-radius: 50%;
  margin: 0px 25px;
}

.color_palette{
  position:fixed;
  left: 550px;
  top: 110px;
}
